!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcscmblueprint
*.xctimeline
*.xcuserstate
.AppleDouble
.DS_Store
.LSOverride
.build
.rbenv-*
.ruby-*
Carthage/**/OrderedDictionary*
Carthage/Checkouts
DerivedData
DerivedData/
build/
xcuserdata
xcuserdata/
